<div class="post container">

    <div class="page-header-section">
        <h1>{{ .Title | markdownify }}</h1>
        {{ if .Params.github }}
        {{ $url := urls.Parse .Params.github }}
        <a href="{{ $url.String }}">
          <span data-feather="github"></span>
        </a>
        {{ end }}
    </div>

    <div class="post-content">
        {{ .Content }}
    </div>
    <!-- Back to top button -->
    {{ if .Site.Params.ShowBackToTopButton }}
        {{ partial "back-to-top.html" . }}
    {{ end }}
</div>
